# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Virtual environments ---
.venv/
venv/
env/
.venv-*/
*-venv/

# --- Distribution / packaging ---
build/
dist/
*.egg-info/
.eggs/

# --- Environment / secrets ---
.env
.env.*

# --- downloaded/temp ---
.tempo*

# --- IDE / editor ---
.vscode/
.idea/
*.swp

# --- private things, only for me ---
.private*